:root {
    background-color: #ff0000;
  }

.text-blue {
    color: blue;
    font-weight: 500;
}

.link-box {
    display: flex;
}

.login-container {
    display: flex;
    justify-content: center;
}